<h1>Home</h1>
<p>Welcome to Product Catalog Application</p>

<% if @categories %>
    <h2>Our Products</h2>
    <% @categories.each do |category| %>
        <div class="container">
            <h3><%= link_to category.name, category %></h3>
            <% category.products.each do |product| %>
                <div class="col-md-4">
                    <div ="img-responsive">
                        <%= image_tag product.picture.url(:medium) %>   
                    </div>
                    <h4><center><%= link_to product.name, product %></center></h4>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>

