<%= simple_form_for @product, :html => { class: 'form-horizontal', multipart: true } do |f| %>
  <%= f.input :name %>
  <%= error_span(@product[:name]) %>
  <%= f.input :description %>
  <%= error_span(@product[:description]) %>
  <%= f.association :category %>
  <%= error_span(@product[:category]) %>
  <%= f.input :picture, as: :file %>
  <%= error_span(@product[:picture]) %>
  <!-- Automatic added attribute for tagging support -->
  <%= f.input :tag_list %>
  <%= error_span(@product[:tag_list]) %>
  

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn btn-default' %>
<% end %>
